<a href="https://colab.research.google.com/github/Hemachandran-D45/vectordb/blob/main/Python%20for%20DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [2]:
type(1)

int

In [5]:
#string slicing
Name = "Michael Jackson"
print(Name[0:4])  #first four character
print(Name[::2])  #alternate 2 char
print(Name[-1])   #last word
print(Name[0:5:2])#Alternate second word within first 5 char

Mich
McalJcsn
n
Mca

\ Backslash is represent of escape sequence

    \n - new line
    \t - tab

In [6]:
#String Method
A = "Thriller is the sixth studio album"
B = A.upper()
print(B)
C = A.replace('Thriller', 'Bad')
print(C)

THRILLER IS THE SIXTH STUDIO ALBUM
Bad is the sixth studio album

In [8]:
#Tuple
NT = (1,2,('pop','rock'),(3,4),('disco',(1,2)))
print(NT[2])
print(NT[2][1])
print(NT[4][1][1])

('pop', 'rock')
rock
2

In [9]:
from re import L
#List
L = ["Michael Jackson", 10.1, 1982]
print(L)
L.extend(['pop',10])
print(L)
del(L[0])
print(L)

['Michael Jackson', 10.1, 1982]
['Michael Jackson', 10.1, 1982, 'pop', 10]
[10.1, 1982, 'pop', 10]

In [12]:
#Set
set1 = {"pop","rock","soul","hard rock","rock","R&B","rock","disco"}
print(set1)
set1.remove("disco")
print(set1)
"Who" in set1 # check whether Who is in Set1

{'pop', 'hard rock', 'R&B', 'soul', 'rock', 'disco'}
{'pop', 'hard rock', 'R&B', 'soul', 'rock'}

False

In [13]:
album_set1 = set(["Thriller","Back in Black","AC/DC"])
album_set2 = set(["AC/DC","Back in Black","The Dark Side of the Moon"])
print(album_set1&album_set2) #intersection

{'Back in Black', 'AC/DC'}

In [14]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [16]:
#Dictionary
Dict = {"key1":1,"key2":"2","key3":[3,3,3],"key4":(4,4,4),('key5'):5,(0,1):6}
print(Dict)
Dict.keys()
Dict.values()

{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5, (0, 1): 6}

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

In [19]:
#if else
age = 18
if age > 18:
    print("you can enter")
else:
    print("go see Meat Loaf")

go see Meat Loaf

In [18]:
x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

In [21]:
#for loop
squares = ['red','yellow','green','purple','blue']
for i in range(0,5):
    squares[i] = 'white'
print(squares)

['white', 'white', 'white', 'white', 'white']

In [23]:
squares = ['red','yellow','green','purple','blue']
for i,square in enumerate(squares):
    print(i,square)

0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
#while loop
dates = [1982,1980,1973]
i = 0
year = dates[0]
while(year != 1973):
    print(year)

Function:
A Reusable block of code

In [24]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [ ]:
add(1)

In [28]:
def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')

result = Mult(12,2)
print(result)

24

In [29]:
#Have predefine Function

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
print(album_ratings)
len(album_ratings)
sum(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

70.0

In [30]:
def type_of_album(artist, album, year_released):

    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"

x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [31]:
# Python Program to Count words in a String using Dictionary
def freq(string):

    words = []
    words = string.split() # or string.lower().split()
    Dict = {}

    #Use for loop to iterate words and values to the dictionary
    for key in words:
        Dict[key] = words.count(key)
    print("The Frequency of words is:",Dict)

freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go")

The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1, 'to': 1, 'go': 1}

Class and Object

In [43]:

class Circle(object):

    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color

    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)

In [ ]:
RedCircle = Circle(10, 'red')
RedCircle.add_radius(10)

In [ ]:
dir(RedCircle)

In [37]:
#Task

class Vehicles():
    color="white"
    def __init__(self,max_speed,mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    def seating(self, seating):
        self.seating = seating

    def display_prop(self):
        print("Properties of the Vehicle:")
        print("Color:", self.color)
        print("Maximum Speed:", self.max_speed)
        print("Mileage:", self.mileage)
        print("Seating Capacity:", self.seating)

In [39]:
vehicle1 = Vehicles(200,50000)
vehicle1.seating(5)
vehicle2 = Vehicles(180,75000)
vehicle2.seating(4)
vehicle1.display_prop()
vehicle2.display_prop()

Properties of the Vehicle:
Color: white
Maximum Speed: 200
Mileage: 50000
Seating Capacity: 5
Properties of the Vehicle:
Color: white
Maximum Speed: 180
Mileage: 75000
Seating Capacity: 4

In [ ]:
# Working with Data
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head(3) #display first three row
df.ix[0,0] # 0*0 matrix